<template ngbModalContainer></template>
<navbar [sidebarWidth]="sidebarWidth" [isSidebarAnchored]="sidebarAnchored" (onOpenSidebar)="sidebarOpened=true"></navbar>
<sidebar [width]="sidebarWidth" [isOpen]="sidebarOpened" (onOpenChanged)="sidebarOpened=$event" (onAnchorChanged)="handleAnchorChanged($event)"></sidebar>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>