<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-primary px-1" [style.left.px]="left">
    <button type="button" class="btn btn-primary px-2" *ngIf="!sidebarAnchored" (click)="openSidebar()"><i class="fa fa-fw fa-bars"></i></button>
    <a class="navbar-brand ml-2" href="#">Kilburn</a>
</nav>