@CHARSET "UTF-8";

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    width: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: width 0.15s;
    box-shadow: 2px 0 16px 0 rgba(0,0,0,0.3);
}

.sidebar-anchor {
    box-shadow: none;
}

.sidebar-menu {
    margin: O;
    padding: 0;
    list-style: none;
}

.sidebar-menu li {
    text-indent: 15px;
    line-height: 35px;
}

.sidebar-menu li a {
    display: block;
    text-decoration: none;
}
.sidebar-menu li a.disabled {
    color: #636c72 !important;
    cursor: not-allowed;
}

    
.sidebar-primary {
    background-color: #0275d8 !important;
}
.sidebar-primary ul.sidebar-menu li a {
    color: white;
}
.sidebar-primary ul.sidebar-menu li a:hover {
    background: #0066bd;
}
.sidebar-primary ul.sidebar-menu li a.active {
    background: #0066bd;
}
.sidebar-primary ul.sidebar-menu li a.disabled:hover {
    background-color: #0275d8 !important;
}


.fa-thumb-tack-anchor {
    transform: rotate(90deg);
}


