<div class="row w-100">
    <div class="col-lg-12">
        <h5>{{title}}</h5>
        <hr />
    </div>
</div>

<div class="row w-100">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <form #regleForm="ngForm">
            <div class="form-group row">
                <div class="col-lg-12" [class.has-danger]="libelle.touched && !libelle.valid">
                    <label for="libelle" class="form-control-label">Libellé</label>
                    <input id="libelle" name="libelle" type="text" class="form-control" [(ngModel)]="regle.libelle" #libelle="ngModel" required maxlength="100" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-12">
                    <label for="description">Description</label>
                    <textarea id="description" name="description" rows="3" class="form-control" [(ngModel)]="regle.description"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-9">
                    <label for="langage">Langage</label>
                    <select id="langage" name="langage" class="form-control" [(ngModel)]="regle.langage" (change)="langageChange()">
                        <option value="JAVASCRIPT">Javascript</option>
                        <option value="GROOVY">Groovy</option>
                    </select>
                </div>
                <div class="col-lg-3 text-right">
                    <label for="auto">Automatique</label><br/>
                    <input id="auto" name="auto" type="checkbox" class="form-control" [(ngModel)]="regle.auto" /><label for="auto"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-12" [class.has-danger]="!scriptValid">
                    <label for="script" class="form-control-label">Script</label>
                    <ace-editor #scriptEditor [(text)]="regle.script" [mode]="editorMode" [options]="editorOptions" [theme]="'chrome'" style="min-height: 200px; width:100%; overflow: auto;"></ace-editor>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-1"></div>
</div>

<div class="row w-100 mt-4 mb-4">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <hr />
        <div class="row justify-content-end">
            <div class="col-auto mr-3">
                <button type="button" (click)="save()" [disabled]="!regleForm.form.valid" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Enregistrer</button>
                <button type="button" (click)="cancel()" class="btn btn-secondary">Annuler</button>
                <button type="button" (click)="close()" class="btn btn-secondary">Fermer</button>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
