<div class="card mt-2 mb-2">
    <div class="card-header card-sm">
        Filtres
    </div>
    <div class="card-block">
        <div class="row w-100 mb-2">
            <div class="col-md-2 pt-1">Date (début) :</div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control form-control-sm" name="dd" [(ngModel)]="filters.dateDebFilter" (ngModelChange)="filter()" ngbDatepicker #dd="ngbDatepicker">
                        <div class="input-group-addon" (click)="dd.toggle()" >
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 pt-1">Date (fin) :</div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control form-control-sm" name="df" [(ngModel)]="filters.dateFinFilter" (ngModelChange)="filter()" ngbDatepicker #df="ngbDatepicker">
                        <div class="input-group-addon" (click)="df.toggle()" >
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row w-100 mb-2">
            <div class="col-md-2 pt-1">Date de valeur (début) :</div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control form-control-sm" name="dvd" [(ngModel)]="filters.dateValeurDebFilter" (ngModelChange)="filter()" ngbDatepicker #dvd="ngbDatepicker">
                        <div class="input-group-addon" (click)="dvd.toggle()" >
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 pt-1">Date de valeur (fin) :</div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control form-control-sm" name="dvf" [(ngModel)]="filters.dateValeurFinFilter" (ngModelChange)="filter()" ngbDatepicker #dvf="ngbDatepicker">
                        <div class="input-group-addon" (click)="dvf.toggle()" >
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row w-100 mb-2">
            <div class="col-md-2">Mode :</div>
            <div class="col">
                <span *ngFor="let f of filters.modeFilter" (click)="filterByModeOrTag(f)" class="badge badge-btn badge-default mr-1">
                    {{f.label}}
                    <i *ngIf="!f.filter" class="fa fa-square-o"></i>
                    <i *ngIf="f.filter" class="fa fa-check-square-o"></i>
                </span>
            </div>
        </div>
        <div class="row w-100 mb-2">
            <div class="col-md-2">Tag :</div>
            <div class="col">
                <span *ngFor="let f of filters.tagFilter" (click)="filterByModeOrTag(f)" class="badge badge-btn badge-primary mr-1">
                    {{f.label}}
                    <i *ngIf="!f.filter" class="fa fa-square-o"></i>
                    <i *ngIf="f.filter" class="fa fa-check-square-o"></i>
                </span>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-md-2">Pointage :</div>
            <div class="col">
                <div ngbRadioGroup [(ngModel)]="filters.pointageFilter">
                    <label class="btn btn-sm btn-secondary">
                        <input type="radio" value="all" (click)="filterByPointage()"> Toutes les opérations
                    </label>
                    <label class="btn btn-sm btn-secondary">
                        <input type="radio" value="true" (click)="filterByPointage()"> Pointées
                    </label>
                    <label class="btn btn-sm btn-secondary">
                        <input type="radio" value="false" (click)="filterByPointage()"> Non Pointées
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer card-sm">
        {{count}} opération(s)
    </div>
</div>
