<!-- Entête -->
<div class="row justify-content-end mb-2">
    <div class="col-sm-1"></div>
    <div class="col-sm-2 pt-2">
        <small>Pointé :</small>
        <span [class.text-danger]="soldes.pointe < 0">{{soldes.pointe.toNumber() | currency:'EUR':true }}</span>
    </div>
    <div class="col-sm-2 pt-2">
        <small>A venir :</small>
        <span [class.text-danger]="soldes.avenir < 0">{{soldes.avenir.toNumber() | currency:'EUR':true }}</span>
    </div>
    <div class="col-sm-2 pt-2">
        <small>Solde :</small>
        <span [class.text-danger]="soldes.solde < 0">{{soldes.solde.toNumber() | currency:'EUR':true }}</span>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4 d-flex justify-content-end">
        <div class="input-group mr-2">
            <input type="text" (input)="filterByText($event.target.value)" class="form-control" placeholder="Rechercher une opération..." />
            <span class="input-group-btn" data-toggle="buttons">
                <label class="btn btn-secondary" [class.active]="filters">
                    <input type="checkbox" [(ngModel)]="filters"><i class="fa fa-filter"></i>
                </label>
            </span>
        </div>
        <button type="button" class="btn btn-primary" (click)="newOperation()"><i class="fa fa-plus"></i> Nouvelle</button>
    </div>
</div>

<!-- Header du tableau -->
<table class="table table-small mb-0">
    <thead>
        <tr>
            <th *ngIf="selection" class="text-center align-middle" [style.width.px]="colSelectionWidth">
                <input type="checkbox" [(ngModel)]="selectionAll" (change)="selectAll()" id="selection_all" /><label for="selection_all"></label>
            </th>
            <th class="text-center align-middle cursor-default" [style.width.px]="colDateWidth" (click)="orderBy('date')">
                Date <i *ngIf="colOrder == 'date'" class="fa fa-sort-amount-asc"></i>
                     <i *ngIf="colOrder == '-date'" class="fa fa-sort-amount-desc"></i><br/>
                <small>
                    Date de valeur
                    <i *ngIf="colOrder == 'dateValeur'" class="fa fa-sort-amount-asc"></i>
                    <i *ngIf="colOrder == '-dateValeur'" class="fa fa-sort-amount-desc"></i>
                </small>
            </th>
            <th class="text-center align-middle cursor-default" [style.width.px]="colModeWidth" (click)="orderBy('mode')">
                Mode
                <i *ngIf="colOrder == 'mode'" class="fa fa-sort-alpha-asc"></i>
                <i *ngIf="colOrder == '-mode'" class="fa fa-sort-alpha-desc"></i>
            </th>
            <th class="align-middle cursor-default" [style.width.px]="colTiersWidth" (click)="orderBy('tiers')">
                Tiers
                <i *ngIf="colOrder == 'tiers'" class="fa fa-sort-alpha-asc"></i>
                <i *ngIf="colOrder == '-tiers'" class="fa fa-sort-alpha-desc"></i>
                <small>(référence)</small><br />
                <small>
                    Libellé
                    <i *ngIf="colOrder == 'libelle'" class="fa fa-sort-alpha-asc"></i>
                    <i *ngIf="colOrder == '-libelle'" class="fa fa-sort-alpha-desc"></i>
                </small>
            </th>
            <th class="align-middle" [style.width.px]="colTagsWidth">
                Tags
            </th>
            <th class="text-right align-middle cursor-default" [style.width.px]="colMontantWidth" (click)="orderBy('montant')">
                Montant
                <i *ngIf="colOrder == 'montant'" class="fa fa-sort-numeric-asc"></i>
                <i *ngIf="colOrder == '-montant'" class="fa fa-sort-numeric-desc"></i>
            </th>
            <th class="text-center align-middle" [style.width.px]="colPointageWidth">
                Pointage
            </th>
        </tr>
    </thead>
</table>

<operation-list-filters *ngIf="filters" [operations]="displayedOperations" [filters]="propFilters" (onFilter)="filterByProperty($event)"></operation-list-filters>

<operation-list-form *ngIf="form" [mode]="formMode" [operations]="operations" [operation]="editedOperation" (onSave)="handleSave($event)" (onSaveAndContinue)="handleSaveContinue($event)" (onCancel)="handleCancelForm()"></operation-list-form>

<operation-list-ruleform *ngIf="formRule" (onApplyRule)="applyRule($event)" (onCancel)="cancelRule()"></operation-list-ruleform>

<!-- Liste des opérations -->
<div [style.height.px]="tblOperationHeight" style="overflow-y: auto;">
    <table class="table table-striped table-hover table-small">
        <thead class="invisible">
            <tr>
                <th *ngIf="selection" #colSelection></th>
                <th #colDate></th>
                <th #colMode></th>
                <th #colTiers></th>
                <th #colTags></th>
                <th #colMontant></th>
                <th #colPointage></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let op of displayedOperations" [contextMenu]="contextMenuOperation" [contextMenuSubject]="op">
                <td *ngIf="selection" class="text-center align-middle">
                    <input type="checkbox" [(ngModel)]="op.selected" id="selection_{{op.id}}" /><label for="selection_{{op.id}}"></label>
                </td>
                <td class="text-center align-middle">
                    {{op.date | date:'shortDate' }}<br/>
                    <small>{{op.dateValeur | date:'shortDate'}}</small>
                </td>
                <td class="text-center align-middle">
                    <span class="badge badge-default">{{op.modeLibelle}}</span>
                </td>
                <td *ngIf="!op.commentaire" class="align-middle">
                    {{op.tiers}} <small *ngIf="op.reference">({{op.reference}})</small><br/>
                    <small>{{op.libelle}}</small>
                </td>
                <td *ngIf="op.commentaire" class="align-middle" ngbPopover="{{op.commentaire}}" triggers="mouseenter:mouseleave" container="body">
                    {{op.tiers}} <small *ngIf="op.reference">({{op.reference}})</small><br/>
                    <div class="d-flex justify-content-start">
                        <div><small>{{op.libelle}}</small></div>
                        <div class="ml-auto"><i class="fa fa-comment-o"></i></div>
                    </div>
                </td>
                <td class="align-middle">
                    <span *ngFor="let t of op.tags" class="badge badge-primary mr-1">{{t}}</span>
                </td>
                <td class="text-right align-middle">
                    <span class="mr-2" [class.text-danger]="op.montant < 0">{{op.montant | currency:'EUR':true }}</span>
                </td>
                <td class="text-center align-middle">
                    <input type="checkbox" [(ngModel)]="op.pointee" (change)="pointageOperation(op)" id="pointage_{{op.id}}" /><label for="pointage_{{op.id}}"></label>
                </td>
            </tr>
        </tbody>
    </table>
    <context-menu>
        <template contextMenuItem (execute)="updateOperation($event.item)">
            <i class="fa fa-edit"></i> Modifier
        </template>
        <template contextMenuItem (execute)="deleteOperation($event.item)">
            <i class="fa fa-trash-o"></i> Supprimer
        </template>
        <template contextMenuItem (execute)="selectionFor('RULE', $event.item)">
            <i class="fa fa-cogs"></i> Appliquer une règle
        </template>
    </context-menu>
</div>
